.hero {
    padding-block: 120px 60px;
}

.hero-stats {
    /* border: 1px solid rgba(255, 255, 255, 0.603); */
    padding: 20px 20px;
    height: 100%;
    border-radius: 5px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);

}

.trusted-bg {
    background: var(--secondary);
    padding-block: 30px;
}

.trusted {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.trusted-icon {
    background: white;
    outline: 1px solid white;
    border-radius: 50%;
    display: grid;
    height: 70px;
    outline-offset: 6px;
    place-items: center;
    width: 70px
}

.trusted-content {
    justify-content: center;
}

.bg-img {
    background-image: url(assets/imgs/bg.png);
    /* background-color: #f9f9f9; */
}


.inclusn-box,
.exlusn-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 38px 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 100%;
    background-color: var(--white);
}

.inclusn-box {
    border-bottom: 6px solid #2e8b57;
}

.exlusn-box {
    border-bottom: 6px solid #d9534f;
}

.inclusn-box>ul,
.exlusn-box>ul {
    list-style: none;
    margin: 20px 0 0 0;
}

.inclusn-box>ul>li,
.exlusn-box>ul>li {
    position: relative;
    margin-left: 30px;
}

.inclusn-box>ul>li::before,
.exlusn-box>ul>li::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -30px;
    background: url('data:image/svg+xml,<svg fill="%232e8b57" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="-3.53 -3.53 359.68 359.68" xml:space="preserve" stroke="%232e8b57" stroke-width="0.0035262"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g><path d="M337.222,22.952c-15.912-8.568-33.66,7.956-44.064,17.748c-23.867,23.256-44.063,50.184-66.708,74.664 c-25.092,26.928-48.348,53.856-74.052,80.173c-14.688,14.688-30.6,30.6-40.392,48.96c-22.032-21.421-41.004-44.677-65.484-63.648 c-17.748-13.464-47.124-23.256-46.512,9.18c1.224,42.229,38.556,87.517,66.096,116.28c11.628,12.24,26.928,25.092,44.676,25.704 c21.42,1.224,43.452-24.48,56.304-38.556c22.645-24.48,41.005-52.021,61.812-77.112c26.928-33.048,54.468-65.485,80.784-99.145 C326.206,96.392,378.226,44.983,337.222,22.952z M26.937,187.581c-0.612,0-1.224,0-2.448,0.611 c-2.448-0.611-4.284-1.224-6.732-2.448l0,0C19.593,184.52,22.653,185.132,26.937,187.581z"></path></g></g></svg>') no-repeat center/cover;
    width: 18px;
    height: 18px;
}

.exlusn-box>ul>li::before {
    background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g id="Menu / Close_LG"><path id="Vector" d="M21 21L12 12M12 12L3 3M12 12L21.0001 3M12 12L3 21.0001" stroke="%23d9534f" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>') no-repeat center/cover;
}

.sticky-col {
    position: sticky;
    top: 100px;
}


table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 6px;
    border: 5px solid #dddddd;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 14px;

}

th {
    /* background-color: var(--primary); */
    border: 1px solid #dddddd;
    text-align: left;
    padding: 14px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.more {
    display: none;
}


.table-container {
    width: 100%;
    position: relative;
    background: var(--white);
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    border: 1px solid #C3C3C3;
}

.table-container table thead th {
    /* text-align: left; */
    width: 20%;
    padding: 30px 40px;
}

.sc-flex-btn {
    background: var(--primary);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 500;
    white-space: nowrap
}

.plan-btn {
    margin-top: 20px;
}

.plan-heading {
    font-size: 22px;
    background-color: var(--secondary);
    color: white;
    text-align: center;
}

.plan-text {
    font-size: 20px;
    color: var(--secondary);
}

.custom-table table tbody th {
    text-align: left;
    padding: 15px 25px;
    background-color: #ffefeb;
    border-top: 1px solid #C3C3C3;
    font-size: 16px;
    font-weight: 600;
}




.info-tabs-container {
    display: flex;
    gap: 30px;
    /* padding: 30px; */
    border-radius: 12px;
}

.info-tabs-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 220px;
}

.info-tab {
    padding: 12px 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    color: #333;
    border-radius: 8px;
    transition: 0.3s;
}

.info-tab.active {
    background: var(--primary);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    color: white;
    font-weight: 600;
}

.info-tabs-content {
    flex: 1;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}

.info-tab-content {
    display: none;
}

.info-tab-content.active {
    display: block;
}

.dm-logo {
    background-color: #ffffff;
    padding: 20px 30px;
}

.btn.d-flexx {
    gap: 15px;
}


/* marquee animation start */
.partner-sec .scroller {
    position: relative;
}

.partner-sec .scroller::before,
.partner-sec .scroller::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 50px;
    background: red;
    z-index: 1;

}

.partner-sec .scroller::before {
    left: 0;
    background: linear-gradient(90deg, rgb(255 255 255) 0%, rgb(255 255 255 / 61%) 50%, rgb(255 255 255 / 0%) 100%);
}

.partner-sec .scroller::after {
    right: 0;
    top: 0;
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 50%, rgb(255 255 255) 100%);

}

.logo-slider img {
    height: 35px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.3s;
}

.logo-slider img:hover {
    filter: grayscale(0%);
}

/* Slider container */
.slider {
    height: 70px;
    overflow: hidden;
    position: relative;
}

/* Track */
.slide-track {
    display: flex;
    width: calc(250px * 12);
    /* 12 = number of logos (6 × 2) */
    animation: scroll 30s linear infinite;
}

/* Single slide */
.slide {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 6));
    }
}

/* Mobile Responsive */
@media(max-width:1024px) {
    .info-tabs-container {
        flex-direction: column;
    }

    .info-tabs-menu {
        flex-direction: row;
        overflow-x: auto;
    }

    .info-tab {
        white-space: nowrap;
    }
}

.experience-section {
    position: relative;
    /* padding: 30px 0; */
}

.exp-wrapper {
    position: relative;
    /* width: 450px; */
    margin: auto;
}

.exp-text {
    position: absolute;
    right: -140px;
    top: 40%;
    transform: translateY(-50%) rotate(90deg);
    display: flex;
    justify-content: center;
    gap: 20px;
    /* align-items: center; */
}

.exp-text h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.exp-text span {
    color: #ff4d00;
    font-size: 45px;
    font-weight: 600;
}

.img-box {
    border-radius: 20px;
    overflow: hidden;
}

/* First Image */
.img-1 {
    border: 2px solid #ff4d00;
    padding: 5px;
    margin-right: 60px;
}

.img-1 img {
    height: 450px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

/* Second Image Overlapping */
.img-2 {
    width: 350px;
    position: absolute;
    bottom: -150px;
    left: 120px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.img-2 img {
    width: 100%;
    border: 5px solid white;
    border-radius: 15px;
}

@media (max-width: 1024px) {

    .text-light {
        font-size: 16px;
    }

    .plan-heading,
    .plan-text {
        font-size: 18px;
    }

    .sc-flex-btn {
        padding: 6px 15px;
    }

    .img-2{
        display: none;
    }
}